.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsla(0, 0%, 0%, 0.4);
  visibility: hidden;
  transition: all 0.3 ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &.open {
    visibility: visible;
  }
}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-container {
  border-radius: 1rem;
  background-color: aliceblue;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 480px;
  align-items: center;
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  outline: none;
  border: none;
  color: hsl(0, 100%, 50%);
  background: none;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

.modal-ingredients {
    width: 100%;
    text-align: start;
    max-width: 32ch;
}

.modal-recipe {
    width: 100%;
    text-align: start;
    max-width: 32ch;
}

.modal-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    background-color: hsl(0, 0%, 24%);
    color: hsla(0, 0%, 96%, 0.6);
    margin: 0 0.25rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;

    &:hover {
      color: hsla(0, 0%, 96%, 1);
    }
  }
}
