@import 'reset';
@import 'modal';


body {
  background-color: hsl(0, 0%, 81%);
}

h1 {
  text-align: center;
  padding: 2rem;
  color: hsl(0, 0%, 31%);
}

.menu-container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 40px;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(33, 100%, 88%);
  box-shadow: 5px 10px 5px hsla(0, 0%, 20%, 0.305);
  cursor: pointer;
  padding: 24px;
}

img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

button:hover {
  color: hsl(0, 0%, 100%);
}